:root {
    --mbackgr1: #daa520; /* daa520 */
    --mbackgr2: #ba72f5; /* da72a5 */
    --navbackgr: #254637; /* 655667 */
    --navcolor1: #d9d0d6; /* d9d0d6 */
    --navcolor2: #080807; /* 282827 */
    --shadow1: #557748;
    --shadow2: #fff;
    --topborder: #254637; /* 452345 */

    --mainwidth: 95%;
    --footwidth: 95%;
    --navheight: 3rem; /* for spacing below fixed navbar */
    --thin3: 0.3rem; /* thin margin / padding */
    --thin2: 0.2rem;
    --thin5: 0.5rem;
    --thin8: 0.8rem;
    --thin9: 0.9rem; /* between headers */
    --fixer: 0;
    --fixeb: 0;
}
body {
    position: static;
    background-color: #fac560;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%; /* default 16px */
    box-sizing: content-box;
    line-height: 120%;
    margin-top: 0;
    padding-top: 0;
    max-zoom: 150%;
}
* {
    box-sizing: content-box;
}
#main-div {
    background-color: #daa520; /* for very old/basic browsers */
    background:linear-gradient(30deg,#ba72f5 10%,#daa520);
    background:linear-gradient(30deg, var(--mbackgr2), var(--mbackgr1));
    width: var(--mainwidth);
    max-width: 98%;
    /*height: auto;*/
    margin: 0 auto 1.6rem; /* top 0 sides auto bottom 1.6rem */
    padding: 1.4rem;
    padding-top: 0;
    box-sizing: content-box;
}
* {
    position: static;
    margin-top: 0;
    padding-top: 0;
}
.divide {
    padding: var(--navheight);
}
p {
    line-height: 130%;
}
a {
    text-decoration: none;
    background: var(--navbackgr);
    color: var(--navcolor1);
    margin: var(--thin3);
    padding: var(--thin3);
}
a:hover {
    text-decoration-line: overline underline;
    font-style: oblique;
}
a:active {
    color: #ff2336;
}
#navbar {
    /*border-bottom: 1px dashed yellow;*/
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    overflow:auto;
    width: var(--mainwidth);
    height: var(--navheight);
    align-items: start;
    justify-content: center;
    line-height: 110%;
    margin-top: 0;
    padding: 0;
}
#navbar a {
    /*border: 1px dashed pink;*/
    flex-basis: 25%;
    margin: 0 var(--thin5) var(--thin5);
    padding: var(--thin5);
    color: var(--navcolor1);
    text-shadow: 0 0 4px var(--shadow1); /* shadow to 'outline' the text */
    text-align: center;
    font-weight: bold;
}
#profile-link {
    display: block;
    margin: var(--thin3) auto;
    padding: var(--thin5);
    text-align: center;
}
#profpic {
    display: block;
    width: 70%;
    height:max-content;
    max-width: 50vw;
    max-height: 50vh;
    object-fit:contain;
    margin: var(--thin5) auto;
    padding: 0 var(--thin8);
    clear: both;
}
#welcome-section {
    height: 100vh;
}

#projects {
    /*border: 2px dashed blue;*/
    margin-top: 1rem;
}
#projects p, #projects ul {
    display: block;
    margin: var(--thin8) auto;
    padding: var(--thin3);
}
#projects ul {
    width: 50%; /* for browsers that don't deal with max-content */
    width: max-content;
}
#projects li {
    display: block;
    list-style: none;
}
.project-title {
    margin: var(--thin5);
    padding: var(--thin2);
    font-weight: bold;
}
h1 {
    /*background: linear-gradient(30deg, var(--mbackgr2) 70%, var(--mbackgr1));*/
    border-top: 3px solid var(--topborder);
    margin: var(--thin2) auto;
    padding: var(--thin9);
    text-align: center;
    /*height: var(--navheight);*/
    height:max-content;
    vertical-align: middle;
    line-height: 120%;
}
h2, h3, h4, h5, h6 {
    text-align: center;
    margin: var(--thin9) auto;
    padding: var(--thin2);
    height:max-content;
}

.quicklink {
    background: none;
    box-sizing: border-box;
    /*border: 2px dashed #382738;*/
    position: fixed;
    bottom: var(--fixeb);
    right: var(--fixer);
    width: 1.5rem;
    height: 1.8rem;
    text-shadow: 0 0 4px var(--shadow2); 
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    line-height: 100%;
    max-width: 5%;
    max-height: 5%;
}
footer {
    background: linear-gradient(30deg, var(--mbackgr1) 70%, var(--mbackgr2));
    width: var(--footwidth);
    height: auto;
    margin: 0 auto;
    padding: 1.4rem;
    font-size: 0.8rem;
    text-align: center;
}
footer p {
    line-height: 100%;
}
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = */
@media only screen and (max-width:300px) {
    #navbar {
        flex-flow: column nowrap;
    }
    #navbar a {
        flex-basis: 80%;
        margin: 0 auto;
    }
}
    @media only screen and (max-width:568px) {
    :root {
        --mainwidth: 98%;
        --footwidth: 89%;
        --navheight: max-content; /* for spacing below fixed navbar */
        --thin2: 1px; /* thin margin / padding */
        --thin3: 2px;
        --thin5: 4px;
        --thin8: 8px;
        --thin9: 12px;
        --fixer: 1.5rem;
        --fixeb: 1.5rem;
    }
    #main-div {
        margin: 0;
        padding: 0;
    }
    a {
        margin: -10px;
        padding: 0;
    }
    #navbar {
        line-height: 110%;
        margin-bottom: 0;
        padding: 0;
    }
    #navbar  a {
        width: 18%;
        /*height: max-content;*/
        background: none !important;
        flex-basis: 20%;
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
        color: var(--navcolor2);
        text-shadow: 0 0 4px var(--shadow2); /* shadow to 'outline' the text */
        /*overflow:auto;*/
    }
}
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = */
@media only screen and (min-width:1068px) {
    :root {
        --mainwidth: 80%
    }

}